In order to create instances of defined classes just do as follows. You might recognize the syntax if you coded Ruby in the past.
Using the <i>build</i>-method will return an unsaved object, which you explicitly have to save.

<a name="build"></a>
<pre><%- koala(".js", partial("code/instances/build.ejs")) %></pre>

Built instances will automatically get default values when they were defined:

<a name="instances-defaults" data-title="defaults"></a>
<pre><%- koala('.js', partial("code/instances/defaults.ejs")) %></pre>

To get it stored in the database, use the save method and catch the events, ..., if needed:

<a name="instances-save" data-title="save"></a>
<pre><%- koala(".js", partial("code/instances/save.ejs")) %></pre>

Now lets change some values and save changes to the database... There are two ways to do that:

<a name="instances-update" data-title="update"></a>
<pre><%- koala(".js", partial("code/instances/update.ejs")) %></pre>


<a name="encoding"></a>
In order to define the encoding of a table you can do this:

<pre><%- koala(".js", partial("code/instances/encoding.ejs")) %></pre>

<a name="engine"></a>
You can also change the database engine, e.g. to MyISAM. InnoDB is default since v1.2.1.

<pre><%- koala(".js", partial("code/instances/engine.ejs")) %></pre>
